<div class="bg-dark">
  <h2 class="text-center text-white my-3">Tutti i Todo</h2>

  <div class="container">
    <div class="row">
      <div class="card col-2 m-3 bg-warning" *ngFor="let i of array_finale">
        <div class="card-body">
          <h5 class="card-title border-bottom border-3 border-info">{{i.todo}}</h5>
          <p class="card-text"> La Task verrà svolta da: {{i.firstName}} {{i.lastName}}</p>
          <button type="button" class="btn btn-dark" (click)="toggleStatus_home(i.id)">Change</button>
          <!-- <input type="checkbox" [checked]="i.completed"> -->
          <div *ngIf="i.completed">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
              <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8"/>
            </svg>
          </div>
          <div *ngIf="!i.completed">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-toggle2-off" viewBox="0 0 16 16">
              <path d="M9 11c.628-.836 1-1.874 1-3a4.98 4.98 0 0 0-1-3h4a3 3 0 1 1 0 6z"/>
              <path d="M5 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8m0 1A5 5 0 1 0 5 3a5 5 0 0 0 0 10"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
