<h2 class="text-center text-primary">Post in evidenza</h2>

<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{post_array[0].title}}</h5> <!--title-->
      <h6 class="card-subtitle mb-2 text-body-secondary">{{post_array[0].tags}}</h6> <!-- tags-->
      <p class="card-text">{{post_array[0].body}}</p><!--description-->
    </div>
  </div>
</div>

<h2 class="text-center text-primary">I 4 post principali</h2>

<div class="div container">
  <div class="card" *ngFor="let post of array_di_post">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{post.tags}}</h6> <!-- tags-->
      <p class="card-text">{{post.body}}</p>
    </div>
  </div>
</div>


<app-single-post *ngFor="let post of post_array" >
  <div class="d-flex">
    <div class="form-group">
      <label for="inputExample">Esempio di Input</label>
      <input type="text" class="form-control" id="inputExample" placeholder="Inserisci qualcosa">
    </div>
  </div>
  <!-- <input slot="s1" type="text" placeholder="post"> -->
</app-single-post>
