<div class="bg-dark">
  <h2 class="text-center text-white">Tutti i Todo</h2>

  <div class="container">
    <div class="row">
      <div class="card col-2 m-3 bg-warning" *ngFor="let completed of array_completed">
        <div class="card-body">
          <h5 class="card-title border-bottom border-3 border-info">{{completed.todo}}</h5>
          <p class="card-text"> La Task verrà svolta da: {{completed.firstName}} {{completed.lastName}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
