body {
  background: url(../assets/8035461-sfondi-sfocati-sfocatura-sfondi-astratti-bellissimi-e-luminosi-sfondi-astratti-sono-usati-per-decorazioni-creative-gratuito-foto.jpg);
  background-size: cover;
  height: 90vw;
}
