<form [formGroup]="form" (ngSubmit)="invia_dati()">
  <div class="form-group mt-3">
    <label>Inserisci: Nome</label>
    <input type="text" class="form-control" placeholder="First name" aria-label="First name" formControlName="nome">
  </div>
  <div class="form-group mt-3">
    <label>Inserisci: Cognome</label>
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" formControlName="cognome">
  </div>
  <div class="form-group mt-3">
    <label>Inserisci: Password</label>
    <input type="password" class="form-control" placeholder="Password" aria-label="password" formControlName="password">
  </div>
  <div class="form-group mt-3">
    <label>Inserisci: Password</label>
    <input type="text" class="form-control" placeholder="Password" aria-label="password"
      formControlName="confemra password">
  </div>
  <div class="form-group mt-3">
    <label>Inserisci: Genere</label>
    <select class="form-control form-select" formControlName="genere">
      <option [value]="genere" *ngFor="let genere of generi">
        {{genere}}
      </option>
    </select>
  </div>
  <div class="form-group mt-3">
    <label>Inserisci: File</label>
    <input type="file" class="form-control" placeholder="Last name" aria-label="Last name"
      formControlName="immagine_profilo">
  </div>
  <div class="form-group mt-3">
    <label>Inserisci: Biografia</label>
    <textarea type="textArea" class="form-control" placeholder="Last name" aria-label="Last name"
      formControlName="biografia"></textarea>
  </div>
  <div class="form-group mt-3">
    <label>Inserisci: Username </label>
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" formControlName="username">
  </div>

  <button type="submit">Invia</button>
</form>
