<table class="table " *ngFor="let i of array_post_user">
  <thead>
    <tr>
      <th scope="col-5" class="bg-dark text-white">{{i.firstName}} {{i.lastName}} 's todo</th>
      <th scope="col-5" class="bg-dark text-white"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of i.todo" >
      <td class="col-6">{{t.todo}}</td>
      <td class="col-4">
        <button type="button" class="btn btn-outline-primary" (click)="toggleStatus(t.id)">Change</button>
          <svg *ngIf="t.completed" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="mx-3 bi bi-toggle-on" viewBox="0 0 16 16">
            <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8"/>
          </svg>
          <svg *ngIf="!t.completed" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="mx-3 bi bi-toggle2-off" viewBox="0 0 16 16">
            <path d="M9 11c.628-.836 1-1.874 1-3a4.98 4.98 0 0 0-1-3h4a3 3 0 1 1 0 6z"/>
            <path d="M5 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8m0 1A5 5 0 1 0 5 3a5 5 0 0 0 0 10"/>
          </svg>
      </td>
    </tr>
</table>


<!-- <div class="card mb-3" *ngFor="let users of array_post_user">
    <img src="..." class={{users.image}} alt="...">
    <div class="card-body">
      <h5 class="card-title">{{users.title}}</h5>
      <p class="card-text">{{users.todo}}</p>
      <p class="card-text"><small class="text-body-secondary">{{users.firstName}} {{users.lastName}}</small></p>
    </div>
  </div> -->
