<nav class="navbar navbar-expand-sm sfondo_colorato">
  <div class="container-fluid color_bg">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fiat" routerLinkActive="">Fiat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/audi" routerLinkActive="">Audi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ford" routerLinkActive="">Ford</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
