<h2>Registrati</h2>

<form [formGroup]="form">

  <div class="mb-3">
    <label for="email" class="form-label" >Email</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
  </div>

  <div class="mb-3">
    <label for="nome" class="form-label" >Nome</label>
    <input type="text" class="form-control" id="nome" formControlName="nome">
  </div>

  <div class="mb-3">
    <label for="cognome" class="form-label" >Cognome</label>
    <input type="text" class="form-control" id="cognome" formControlName="cognome">
  </div>

  <div class="mb-3">
    <label for="eta" class="form-label" >Età</label>
    <input type="number" class="form-control" id="eta" formControlName="eta">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label" >Password</label>
    <input type="password" class="form-control" id="password" formControlName="password">
  </div>

  <button (click)="giack()" type="btn" class="btn btn-primary">Salva</button>
</form>
