body {
    background-color: purple;
    text-align: center;
}
div {
    background-color: #fff;
    margin-left: 30%;
    margin-top:20% ;
    width: 30%;
    padding-top: 20px;
    border-radius: 10px;
}

input,button{
    display: inline-block;
}

.classe_toggle{
    text-decoration:line-through
}