/* Your styles here */

/********* - BODY - *********/
/* mi raccomando la guardi in dimensioni iphone 14 pro */
body{
    width: 450px; 
    text-align: center;
    margin: auto;
    align-items: center;
    border: 1px solid #000; /* me lo definisce */
    font-family: "Montserrat", sans-serif;
}

/********* - HEADER - *********/

#sfondo_nero{
    background-color: #000;
}

#logo{
    width: 120px;
}

header{
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
    margin: auto;
    height: 235px;
}

header h1 {
    color: rgb(55, 55, 255);
}

header p{
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
}

header a{
    border-radius: 8px;
    text-decoration: none;
}

.quadrato_arancione {
    background-color: rgb(220, 60, 2);
    padding: 8px;
    /* margin-left: 4px;
    margin-right: 4px; */
    color: #fff;
     /* margin: auto; */
}

/********* - MAIN - *********/

.titoletti_blu{
    color: rgb(77, 77, 255);
}

#immagine_rotonda{
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    border-radius: 100%;
    width: 250px;
    height: 250px;
}  

#scritta_fine_riquadro_aran {
    margin-bottom: 30px;
}

.contorno_nero {
    border: 1px solid #ddd;
    width: 350px;
    margin: 50px;
}

.immagine_quadrata {
    width: 350px;
}

/********* - FOOTER - *********/

footer, a{
    background-color: rgb(36, 36, 248);
    color: #fff ;
    padding-bottom: 4px ;
}

/* footer a {
    color: #fff;
} */

#linea_sopra {
    border-top: 1px solid #fff;
    width: 200px;
    margin:auto;
    margin-top: 20px;

}
